<h3>Choose an improvement to add: </h3>
    <div>
      <button (click)="addToImprovements('House')" class="btn btn-secondary" >House</button>
      <button  (click)="addToImprovements('Field')" class="btn btn-success">Field</button>
      <button  (click)="addToImprovements('Pasture')"class="btn btn-warning">Pasture</button>
      <button  (click)="addToImprovements('Lumber-Mill')"class="btn btn-danger">Lumber-Mill</button>
      <button  (click)="addToImprovements('Well')"class="btn btn-primary">Well</button>
    </div>