<p>map works!</p>
<div id="GameBoard" class="container">
    <div id="A" class="row">
      <div id="A1" class="col-sm">
        A1
      </div>
      <div id="A2" class="col-sm">
        A2
      </div>
      <div id="A3" class="col-sm">
        A3
      </div>
      <div id="A4" class="col-sm">
        A4
      </div>
      <div id="A5" class="col-sm">
        A5
      </div>
    </div>
    <div id="B" class="row">
        <div id="B1" class="col-sm">
            B1
        </div>
        <div id="B2" class="col-sm">
            B2
        </div>
        <div id="B3" class="col-sm">
            B3
        </div>
        <div id="B4" class="col-sm">
            B4
        </div>
        <div id="B5" class="col-sm">
            B5
        </div>
      </div>
      <div id="C" class="row">
        <div id="C1" class="col-sm">
            C1
        </div>
        <div id="C2" class="col-sm">
            C2
        </div>
        <div id="C3" class="col-sm">
            C3
        </div>
        <div id="C4" class="col-sm">
            C4
        </div>
        <div id="C5" class="col-sm">
            C5
        </div>
      </div>
      <div id="D" class="row">
        <div id="D1" class="col-sm">
            D1
        </div>
        <div id="D2" class="col-sm">
            D2
        </div>
        <div id="D3" class="col-sm">
            D3
        </div>
        <div id="D4" class="col-sm">
            D4
        </div>
        <div id="D5" class="col-sm">
            D5
        </div>
      </div>
      <div id="E" class="row">
        <div id="E1" class="col-sm">
            E1
        </div>
        <div id="E2" class="col-sm">
            E2
        </div>
        <div id="E3" class="col-sm">
            E3
        </div>
        <div id="E4" class="col-sm">
            E4
        </div>
        <div id="E5" class="col-sm">
            E5
        </div>
      </div>
  </div>